{
  "plugins": ["transform-object-rest-spread", "transform-es2015-modules-commonjs"],
  "env": {
    "production": {
      "presets": [["env", { "modules": false }], "react"],
      "plugins": ["transform-async-to-generator"]
    },
    "development": {
      "presets": [["env", { "modules": false }], "react"],
      "plugins": ["react-hot-loader/babel"]
    },
    "test": {
      "presets": ["env", "react"],
      "plugins": ["istanbul"]
    }
  }
}
